blocks/* linguist-language=Bash
config/* linguist-language=Bash
modules/dist/* linguist-language=Bash
modules/nc/* linguist-language=Bash
modules/nc-apps/* linguist-language=Bash
modules/nc-apps/commands.d/* linguist-language=Bash
modules/nc-mimecheck/* linguist-language=Bash
modules/nc-shares/* linguist-language=Bash
modules/nc-sharetoken-length/* linguist-language=Bash
modules/nc-subscribed-calendar/* linguist-language=Bash
modules/nc-who/* linguist-language=Bash
modules/php/* linguist-language=Bash
modules/php-module-builder/* linguist-language=Bash
modules/php-updater/* linguist-language=Bash
modules/php-updater/switch.d/* linguist-language=Bash
modules/php-updater/tasks.d/* linguist-language=Bash
modules/php.net/* linguist-language=Bash
modules/sysinf.d/* linguist-language=Bash
modules/* linguist-language=Bash
scripts/* linguist-language=Bash
tools/common_build_functions linguist-language=Bash
